.blog-page .blog-image{
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
.blog-page .blog-text{
  white-space: pre-line;
  text-align: justify;
}

.blog-page .card{
  border: 2px solid var(--bs-border-color);
  border-style: dashed;
}

.blog-page .user-box .card .image{
  width: 100%;
  height: 100px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .blog-page .blog-image {
      height: 40vh;
    }
}